<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizacion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="./css/bootstrap-grid.rtl.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body class="p-3 m-0 border-0 bd-example" >
    <div class="container">
   <center>
        <h2>cotizacion</h2>


   </center>
 <form class="row g-3" action="/cotizacion" method="p">
  <div class="col-md-6">
  <label for="inputvalor" class="form-label">valor automovil:</label>
  <input type="number" id="valor" class="form-control" name="valor" required="">
</div> 
<div class="col-md-4">
  <label for="inputPagoInicial" class="form-label">porcentaje de pago inicial:</label>
  <select name="pinicial" id="pinicial" class="form-select">
    <option value="10">10%</option>
    <option value="30">30%</option>
    <option value="50">50%</option>
    <option value="70">70%</option>


  </select><br>
</div>
<div class="col-md-4">
<label for="inputplazo" class="form-label" >plazos</label>
<select name="plazo" id="plazo" class="form-select" >
    <option value="12">12%</option>
    <option value="24">24%</option>
    <option value="36">36%</option>
    <option value="48">48%</option>
    <option value="60">60%</option>
</select>
</div>
<br>
<div class="col-12">
<button  class="btn btn-primary" type="submit">Calcular</button>
<button class="btn btn-primary" type="reset">limpiar</button>
</div>

<%
    
let pagoInicial=0;
let totalfin=0;
let pmenusal=0;

if(valor!=null){
  pagoInicial=valor*(pinicial/100);
  totalfin=valor-pagoInicial;
  pmensual=totalfin/plazo;




%>
<hr>
<h3>informacion de la cotizacion</h3>
<hr><br> <center>
valor del automovil: <%=valor%> <br> porcentaje de pago inicial: <%=pinicial%> <br>
plazos:<%=plazo%> <br>
pago Inicial : <%=pagoInicial%> <br>
 Total a financiar: <%=totalfin%><br>

pago Mensual : <%=pmensual%>

<%
}
%>
</center>
 </form>

    </div>


</body>
</html>