<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap-grid.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>Practica EJS</title>
</head>
<body>
    <header class="p-3 text-bg-dark">
    <center>
        <h1><%=titulo%></h1>
        <img src="./img/Upsin.png" alt="">
        <h2><%=nombre%></h2>
        <h3><%=grupo%></h3>
    </center>
    </header>
    <div class="container">
        <table class="table table-hover" 
        >
            <tr>
                <th scope="col">Matricula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Sexo</th>
                <th scope="col">Materias</th>
            </tr>
            <% 
                for(item of listado) {

            %>
                    <tr>
                        <td><%=item.matricula%></th>
                        <td><%=item.nombre%></th>
                        <td><%=item.sexo%></th>
                        <td><%=item.materias%></th>
                    </tr>
                <%
                    }
                    %>
        </table>
    </div>
</body>
</html>